doctype html
html
  head
    title= title
    meta(charset="utf-8")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/css/blueimp-gallery.css")
    link(rel="stylesheet", href="/css/blueimp-gallery-indicator.css")
  body
    block content

    script(src="/js/blueimp-helper.js")
    script(src="/js/blueimp-gallery.js")
    script(src="/js/blueimp-gallery-indicator.js")
    script(src="/js/vendor/jquery.js")
    script(src="/js/jquery.blueimp-gallery.js")
