extends layout

block content
  h1= title
  div 
    div Vous devez indiquer un chemin pour afficher des images
    div You need to indicate a path to display images
  div
    b Example : 
    i npm start ~/Images
